{% extends 'blackcoffer/layout/base.html' %} 

{% block containt %}    
      <canvas id="myChart" width="300" height="200"></canvas>    
{% endblock %} 


{% block jsfile %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

  <script>
    var xValues = [{% for lable in lables %} '{{lable}}', {% endfor %}];
    var yValues = [{% for data in dataset %} {{data}}, {% endfor %}];
    
    var barColors = ["red", "green", "blue", "orange", "brown","yellow","pink"];

    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [
          {
            backgroundColor: barColors,
            data: yValues,
          },
        ],
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: "Blackcoffer",
        },
      },
    });

 
  </script>
{% endblock %}
